@import "colors";
@import "fonts";
@import "icons";
@import "buttons";
@import "app";

*, html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', 'Roboto', sans-serif;
  font-size: 16px;
  background: url('./img/general/background/location-screen.png') no-repeat center transparent;
  color: $white;
  z-index: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.Parent {
  display: flex;
  flex-direction: column;
  flex:  0 0 auto;
  width: 90%;
}