@import "colors";
@import "fonts";
@import "icons";
@import "buttons";
@import "app";

*, html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', 'Roboto', sans-serif;
  font-size: 16px;
  background-image: url('./img/general/background/location-screen.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $white;
  z-index: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.Parent {
  position: relative;
  display: flex;
  flex-direction: column;
  flex:  0 0 auto;
  width: 90%;
  .MobiGlow {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 60px;
    left: 44.5%;
    width: 10%;
    height: 25%;
    .MobiGlowTop {
      display: flex;
      flex-direction: column;
      flex:  0 0 auto;
      width: 100%;
      height: 100%;
      background: radial-gradient(to top, rgba(255,255,255, 0.75) 10%, rgba(255,255,255,0) 70%);
    }
    .MobiGlowBottom {
      display: flex;
      flex-direction: column;
      flex:  0 0 auto;
      width: 100%;
      height: 25%;
      background: radial-gradient(to bottom, rgba(255,255,255, 0.75) 10%, rgba(255,255,255,0) 70%);
    }
  }
}