$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

// General Colours
$backgroundDefault: rgba(45, 17, 47, 1);
$containerDefault: rgba(24, 3, 13, 1);
$labelDefault: rgba(128, 102, 130, 1);
$inputDefault: rgba(199, 199, 204, 1);

// Menu Colours
$menuText: $white;
$subMenuText: rgba(255, 255, 255, 0.75);
$tabText: $white;

// Modal Colours
$defaultModalBackground: linear-gradient(-180deg, rgba(55, 23, 71, 1) 0%, rgba(30, 17, 29, 1) 100%);