@import "../../sass/colors";

.Option {
  background-color: firebrick;
  border: 0.25rem solid $white;
  width: 65px;
  height: 65px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
}