@import "../../sass/colors";

.Card {
  background-color: transparent;
  width: 28vw;
  height: 24vh;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  border: inset 3px solid $darkIconColor;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.25rem $baseTextColor;
  /*div:first-child {
    border-radius: 0.25rem;
    background-color: transparent;
    text-align: left;
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
  }*/
  h4 {
    text-transform: uppercase;
    border-bottom: 2px solid $baseTextColor;
    padding: 0 0 .5rem 0;
    margin: 0 0 1rem 0;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    width: 100%;
    justify-content: flex-start;
    align-self: flex-start;
  }
  .Card-Content {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}