@import './../../sass/colors';

.Footer {
  margin-top: 2rem;
  height: 10vh;
  min-width: 100%;
  background-color: transparent;
  color: $white;
  display: flex;
  flex: 0 0 10%;
  flex-direction: row;
  justify-content: center;
  .Option {
    margin: 0 0.75rem;
  }
}
