.Card {
  .Twitch {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: left;
    div {
      &.Offline-Container {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}